<h1>Authors</h1>
<p><%= link_to 'New', new_author_path %></p>
<table>
    <tr>
        <th>Name</th>
        <th>Homepage</th>
    </tr>
    <% @authors.each do |author| %>
        <tr>
        <td>
            <a href="<%= author_path(author) %>">
                <%= author.name%>
            </a>
        </td>
        <td><%= author.homepage %></td>
        </tr>
    <% end %>
</table>
